body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    padding-bottom: 150px;
}

.first-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-top: 20px;
}

h1{
    font-size: 50px;
}
.shuvo-name{
    
}
.ancor-name{
    text-decoration: none;
    color: orange;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    border: none;
}
.first-half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.first-half img{
    width: 100%;
}
.dream-text{
    padding-top: 130px;

}